html {
  text-align: center;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: white;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  line-height: 1em;
}

p {
  font-family: Proxima Nova;
  color: lightgray;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.4em;
}

a {
  color: lightgray;
}
